/* .registrationForm {
    color: white
} */

/* .registration{
    background-color: #3b5998;
    /* width: 1000px; 
} */

form{
    text-align: center;
}

/* h1 {
    background-color: gray;
} */

label {
    padding-right: 10px;
    text-align: center
}

.button {
    margin-left: 10px;
}

/* .profile {
    color: #3b5998
} */







